@model Projekt_bazy.Models.Zamowienia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Zamowienia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdZamowienia" />
            <div class="form-group">
                <label asp-for="NazwaSprzetu" class="control-label"></label>
                <input asp-for="NazwaSprzetu" class="form-control" />
                <span asp-validation-for="NazwaSprzetu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataZamowienia" class="control-label"></label>
                <input asp-for="DataZamowienia" class="form-control" />
                <span asp-validation-for="DataZamowienia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZamawiajacyId" class="control-label"></label>
                <select asp-for="ZamawiajacyId" class="form-control" asp-items="ViewBag.ZamawiajacyId"></select>
                <span asp-validation-for="ZamawiajacyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagazynId" class="control-label"></label>
                <select asp-for="MagazynId" class="form-control" asp-items="ViewBag.MagazynId"></select>
                <span asp-validation-for="MagazynId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
